<tmpl_include name=top.inc.tmpl>
<fieldset>
<legend><tmpl_var name=pagetitle escape=html></legend>
<tmpl_loop name=authors>
<h1><tmpl_var name=author escape=html></h1>
<tmpl_loop name=series>
<tmpl_if name=title>
<h2><tmpl_var name=title escape=html></h2>
</tmpl_if>
<ul style="list-style:none">
<tmpl_loop name=books>
<li>
<tmpl_if name='book-series-index'>
<tmpl_var name="book-series-index" escape=html>.
</tmpl_if>
<a href="<tmpl_var name=top_int><tmpl_var name=html_file>"><tmpl_var name="book-title" escape=html></a>
<tmpl_if name="book-date">
(<tmpl_var name="book-date" escape=html>)
</tmpl_if>
<tmpl_if name="book-vt">
(vt <i><tmpl_var name="book-vt" escape=html></i>)
</tmpl_if>
<tmpl_if name="book-author-with">
(with <tmpl_var name="book-author-with" escape=html>)
</tmpl_if>
<tmpl_if name="book-author-as">
(as <tmpl_var name="book-author-as" escape=html>)
</tmpl_if>
</li>
</tmpl_loop>
</ul>
</tmpl_loop>
<hr>
</tmpl_loop>
</fieldset>
<tmpl_include name=bottom.inc.tmpl>
