</td><td valign=top>
<fieldset>
<legend>Archive</legend>
<ul>
<tmpl_loop name=calendar>
<li><tmpl_var name=name escape=html><br>
<ul>
<tmpl_loop name=month>
<li><a href="<tmpl_var name=top_int><tmpl_var name=link>"><tmpl_var name=name escape=html> (<tmpl_var name=count escape=html>)</a></li>
</tmpl_loop>
</ul>
</li>
</tmpl_loop>
</ul>
</fieldset>
<fieldset>
<legend>Tags</legend>
<tmpl_loop name=alltags>
<font size=<tmpl_var name=fontsize>><a href="<tmpl_var name=top_int>tags/<tmpl_var name=tag_encode>/"><tmpl_var name=tag escape=html></a></font>
</tmpl_loop>
</fieldset>
<fieldset>
<legend>Special</legend>
<a href="<tmpl_var name=top_int>books.html">All book reviews</a>
</fieldset>
</td></tr></table>
<font size=-1>Produced by <i>aikakirja</i> v0.1</font>
</body></html>
