<tmpl_include name=top.inc.tmpl>
<fieldset>
<legend><tmpl_var name=pagetitle escape=html></legend>
<tmpl_var name=date.ld> <tmpl_var name=date.ub> <tmpl_var name=date.uy>
<tmpl_if name=previous>
<a href="<tmpl_var name=previous.link>">Previous: <tmpl_var name=previous.title escape=html></a>
</tmpl_if>
<tmpl_if name=next>
<a href="<tmpl_var name=next.link>">Next: <tmpl_var name=next.title escape=html></a>
</tmpl_if>
<div class="body"><tmpl_var name=bodytext></div>
<tmpl_if name=azlink><p><a href="<tmpl_var name=azlink>"><b>Buy at Amazon</b></a> and help support the blog</p></tmpl_if>
<tmpl_if name=tags><div class="tags">Tags: <tmpl_loop name=tags>
<a href="/tags/<tmpl_var name=tag_encode>"><tmpl_var name=tag escape=html></a>
</tmpl_loop></div></tmpl_if>
<tmpl_if name=xrefs><p>See also:<br><tmpl_loop name=xrefs>
<a href="/<tmpl_var name=link>"><tmpl_var name=title escape=html></a><br>
</tmpl_loop></p></tmpl_if>
<tmpl_if name=comments>
<hr>
<ol>
<tmpl_loop name=comments>
<li><a name="<tmpl_var name=date.ls>">Posted by <tmpl_var name=name escape=html> at 
<tmpl_var name=date.ui>:<tmpl_var name=date.um><tmpl_var name=date.up> on
<tmpl_var name=date.ld> <tmpl_var name=date.ub> <tmpl_var name=date.uy></a>
<br>
<tmpl_var name=body></li>
</tmpl_loop></ol></tmpl_if>
<tmpl_if name=submit_comment>
<h3>Add A Comment</h3>
<blockquote>
<form action="/cgi-bin/comments.cgi" method="post">
<input type="hidden" name="id" value="<!-- tmpl_var name='link' escape='html' -->">
<table>
<tr><td>Your Name</td>
    <td><input type="text" size="55" name="name"></td></tr>
<tr><td>Your Email</td>
    <td><input type="text" size="55" name="mail"></td></tr>
<tr><td colspan="2">Your Comment<br />
<textarea name="body" rows="10" cols="60">
</textarea></td></tr>
<tr><td></td><td><input type="submit"></td></tr>
</table>
</form>
<p>Your submission will be ignored if any field is left blank, but your email address will not be displayed. Comments will be processed through <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a>.</p>
</blockquote>
<tmpl_else>
<p>Comments on this post are now closed. If you have particular grounds for adding a late comment, comment on a more recent post quoting the URL of this one.</p>
</tmpl_if>
</fieldset>
<tmpl_include name=bottom.inc.tmpl>
