<tmpl_include name=top.inc.tmpl>
<fieldset>
<legend><tmpl_var name=pagetitle escape=html></legend>
<tmpl_loop name=years>
<h1><tmpl_var name=year escape=html></h1>
<ul style="list-style:none">
<tmpl_loop name=films>
<li>
<a href="<tmpl_var name=top_int><tmpl_var name=html_file>"><tmpl_var name="film-title" escape=html></a>
<tmpl_if name="film-vt">
(vt <i><tmpl_var name="film-vt" escape=html></i>)
</tmpl_if>
</li>
</tmpl_loop>
</ul>
</tmpl_loop>
</fieldset>
<tmpl_include name=bottom.inc.tmpl>
