<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head><title><tmpl_var name=blogtitle escape=html>: <tmpl_var name=pagetitle escape=html></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<tmpl_loop name=links>
<link rel="<tmpl_var name=rel>" title="<tmpl_var name=title>" href="<tmpl_var name=top_ext><tmpl_var name=href>" type="<tmpl_var name=type>" />
</tmpl_loop>
<style>
body {
	padding-bottom: 1em;
	border-right: 1px solid rgb(128, 128, 128);
	background-color: white;
	color: black;
	margin: 0;
}

div.title {
}

div.title h1 {
        margin: 0px -10px;
	padding: 5px 10px 0px 10px;
	text-align: center;
}

div.title a {
	color: black !important;
	text-decoration: none !important;
}
div.title a:hover {
	color: black !important;
	text-decoration: none !important;
}

div.title h2 {
	margin: 0 0 1ex 0;
	padding: 0;
        text-align: right;
}

legend a {
	color: black !important;
	text-decoration: none !important;
}
legend a:hover {
	color: black !important;
	text-decoration: none !important;
}

legend {
        font-weight: bold;
}

pre {
	overflow:	auto;
	background:	rgb(230,230,230);
	border:		solid;
	border-width:	thin;
	padding: 5px  10px;
}
</style>
</head>
<body>
<div class="title"><h1><a href="<tmpl_var name=top_int>"><tmpl_var name=blogtitle escape=html></a></h1></div>
<table><tr><td valign=top width=75%>
